h1
{
color: goldenrod;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

h2
{
color: goldenrod;
text-align: center;
font-family: 'Times New Roman', Times, serif;  
}

h3
{
 text-align: right;
}
p
{
text-align: center;
font-size: 50px;
font-family: monospace;
font-style:oblique;
font-weight:bolder;
color: goldenrod;
}

body
{
/*background-color: black;*/
background-image: linear-gradient( black,green);
background-image: radial-gradient(black,green);
background-repeat: repeat-x;
background-image:("DARTH VADER.jpg");
}

button
{
padding: 10px 30px;
margin: 12px,6px;
border-radius: 5px;
border-width: 5px;
border-color:red;
border-style: dotted;
text-align: center;
font-size: 15px;
font-family:'Times New Roman', Times, serif ;
font-weight: bold;
color: rgba(6, 150, 102, 0.938);
cursor: pointer;
height: 70px;
width: 90px;
background-color: black;
}

    
